# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude Indigo-Renderer Changes
packwiz\config\sound_physics_remastered\
config\fabric\
config\sound\
